* {
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
#ul{
    margin-left: auto;
}
#navbar{
    position: fixed;
    width: 100%;
    z-index: 1;
}
.image{
    background-image: url(./image/malte-schmidt-enGr5YbjQKQ-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 550px;
}
#h1 h1 , h2{
    background-image: url(image/mix-color.jpg);
    background-size: cover;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    align-items: center;
}
#h1:hover{
    transition: ayush 1s all alternate infinite ;
}
#card:hover{
    color: white;
    background-color: tomato;
    box-shadow: 0 0 20px 3px gray;
    transition: 1.2s;
}
#card1:hover{
    color: white;
    background-color: tomato;
    box-shadow: 0 0 20px 3px gray;
    transition: 1.2s;
}
#card a{
    color: black;
}
.collapse ul li a:hover{
    color: tomato;
}
#card2:hover{
    box-shadow: 0 0 20px 3px gray;
    transition: 1s;
}
#card3:hover{
    box-shadow: 0 0 20px 3px gray;
    transition: 1s;
}
#card3:hover{
 color: tomato;
}
.list-group a:hover{
    color: tomato;
}
.list-group a{
    color: black;
}
.fixed-image{
    background-image: url(./image/mountain.jpg);
    background-position: center; 
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
}
#fixed-image2{
    align-items: center;
}
#card4{
    border: none;
    box-shadow: 0 0 40px 5px gray;
}
@media only screen and (max-width: 768px) {
    #card3{
        flex-wrap: wrap;
    }
    #none1{
        display: none;
    }
  }
  @media only screen and (max-width: 500px) {
    #none2{
        display: none;
    }
  }
  @media only screen and (max-width: 321px) {
    #navbar2{
        display: none;
    }
    #none2{
        display: none;
    }
  }  
  @keyframes ayush {
    0%{
        font-size: 0px;
    }
    100%{
        font-size: 50px;
    }
  }